In [79]:
import os
os.getcwd()

import pandas as pd
import numpy as np 
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.preprocessing import StandardScaler

In [131]:
df = pd.read_csv('C:\\Users\\sanc\\Documents\\GitHub\\machinelearning\\telco_churn_classification\\CODE\\book1.csv'
)

In [112]:
df.columns

Index(['Sales', 'Season', 'WD', 'OOH', 'Plt', 'DPN', 'Active Cases', 'TV_Halo',
       'OOH_Halo', 'Platform_Halo', 'Nativead_Halo', 'DisplayNet_Halo'],
      dtype='object')

In [132]:
df['Season'] = df['Season'] * -1
df.drop(['Season'], axis = 1, inplace=True)

In [133]:
ss = StandardScaler()

for col in df.columns: 
    df[col] = pd.to_numeric(df[col], errors = 'raise')
    df[col] = ss.fit_transform(df[[col]])

In [135]:
df.head()

y = df[['Sales']]
X = df.loc[:, 'WD':'DisplayNet_Halo']

In [138]:
lr = Lasso(positive=True, alpha=0.001)
lr.fit(X, y)

lr.coef_

d = {'betas': lr.coef_.reshape(-1), 'vars': X.columns}
fin = pd.DataFrame(d)

print(f'R2 {lr.score(X, y):.2f}')

fin

R2 0.56

      betas             vars
0  0.333787               WD
1  0.138090              OOH
2  0.384465              Plt
3  0.259145              DPN
4  0.228456     Active Cases
5  0.000000          TV_Halo
6  0.247751         OOH_Halo
7  0.000000    Platform_Halo
8  0.000000    Nativead_Halo
9  0.000000  DisplayNet_Halo